MONGO_URI=mongodb+srv://admin:Ra@010804@devdash.btr9vl6.mongodb.net/?appName=DevDash
JWT_SECRET=your_super_secret_jwt_key_here_change_this
ADMIN_PASSWORD=rajwashere
CLOUDINARY_CLOUD_NAME=dyrrbxo7z
CLOUDINARY_API_KEY=843614943855629
CLOUDINARY_API_SECRET=NasiP7Rw1cJdNE9lEKU9oRQ4Y-o
FRONTEND_URL=http://localhost:5173
PORT=5000
